html,
html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0840a153196937.592c25599a280.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;